# LAB 9 & 11
### NAME : ALI RAZA
### ROLLNO: BSDSM-F23-018

In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv("house_price_regression_dataset.csv")
df

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06
...,...,...,...,...,...,...,...,...
995,3261,4,1,1978,2.165110,2,10,7.014940e+05
996,3179,1,2,1999,2.977123,1,10,6.837232e+05
997,2606,4,2,1962,4.055067,0,2,5.720240e+05
998,4723,5,2,1950,1.930921,0,7,9.648653e+05
999,3268,4,2,1983,3.108790,2,2,7.425993e+05

In [11]:
df.head(5)

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06

In [12]:
df.tail(5)

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
995,3261,4,1,1978,2.165110,2,10,701493.997069
996,3179,1,2,1999,2.977123,1,10,683723.160704
997,2606,4,2,1962,4.055067,0,2,572024.023634
998,4723,5,2,1950,1.930921,0,7,964865.298639
999,3268,4,2,1983,3.108790,2,2,742599.253332

In [13]:
print(df.shape)

(1000, 8)

In [14]:
for cols in df.columns:
    print(cols)

Square_Footage
Num_Bedrooms
Num_Bathrooms
Year_Built
Lot_Size
Garage_Size
Neighborhood_Quality
House_Price

In [15]:
print(df.count())

Square_Footage          1000
Num_Bedrooms            1000
Num_Bathrooms           1000
Year_Built              1000
Lot_Size                1000
Garage_Size             1000
Neighborhood_Quality    1000
House_Price             1000
dtype: int64

In [16]:
print(df.nunique())

Square_Footage           894
Num_Bedrooms               5
Num_Bathrooms              3
Year_Built                73
Lot_Size                1000
Garage_Size                3
Neighborhood_Quality      10
House_Price             1000
dtype: int64

In [17]:
print("Number of Null Values in Data")
print(df.isnull().sum())

Number of Null Values in Data
Square_Footage          0
Num_Bedrooms            0
Num_Bathrooms           0
Year_Built              0
Lot_Size                0
Garage_Size             0
Neighborhood_Quality    0
House_Price             0
dtype: int64

In [18]:
df.describe()

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03
mean,2815.422000,2.990000,1.973000,1986.550000,2.778087,1.022000,5.615000,6.188610e+05
std,1255.514921,1.427564,0.820332,20.632916,1.297903,0.814973,2.887059,2.535681e+05
min,503.000000,1.000000,1.000000,1950.000000,0.506058,0.000000,1.000000,1.116269e+05
25%,1749.500000,2.000000,1.000000,1969.000000,1.665946,0.000000,3.000000,4.016482e+05
50%,2862.500000,3.000000,2.000000,1986.000000,2.809740,1.000000,6.000000,6.282673e+05
75%,3849.500000,4.000000,3.000000,2004.250000,3.923317,2.000000,8.000000,8.271413e+05
max,4999.000000,5.000000,3.000000,2022.000000,4.989303,2.000000,10.000000,1.108237e+06

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Square_Footage        1000 non-null   int64
 1   Num_Bedrooms          1000 non-null   int64
 2   Num_Bathrooms         1000 non-null   int64
 3   Year_Built            1000 non-null   int64
 4   Lot_Size              1000 non-null   float64
 5   Garage_Size           1000 non-null   int64
 6   Neighborhood_Quality  1000 non-null   int64
 7   House_Price           1000 non-null   float64
dtypes: float64(2), int64(6)
memory usage: 62.6 KB

# DATA PRE-PROCESSING

In [20]:
# Dealing null values 
print(df.isnull().sum())

Square_Footage          0
Num_Bedrooms            0
Num_Bathrooms           0
Year_Built              0
Lot_Size                0
Garage_Size             0
Neighborhood_Quality    0
House_Price             0
dtype: int64

In [22]:
df.head(5)

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06

In [23]:
print(df.isnull().sum())

Square_Footage          0
Num_Bedrooms            0
Num_Bathrooms           0
Year_Built              0
Lot_Size                0
Garage_Size             0
Neighborhood_Quality    0
House_Price             0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Square_Footage        1000 non-null   int64
 1   Num_Bedrooms          1000 non-null   int64
 2   Num_Bathrooms         1000 non-null   int64
 3   Year_Built            1000 non-null   int64
 4   Lot_Size              1000 non-null   float64
 5   Garage_Size           1000 non-null   int64
 6   Neighborhood_Quality  1000 non-null   int64
 7   House_Price           1000 non-null   float64
dtypes: float64(2), int64(6)
memory usage: 62.6 KB

In [27]:
df['Lot_Size'].unique()

array([0.59963664, 4.75301385, 3.63482272, 2.73066688, 4.69907255,
       2.47593004, 4.91196007, 2.80528141, 1.01428596, 3.94160438,
       3.55503976, 3.97844025, 4.78148913, 3.99420186, 3.25101471,
       4.35789006, 3.52960898, 2.33653576, 4.48528894, 1.49855207,
       3.71588574, 4.46703555, 3.79092434, 3.63773939, 3.88687232,
       2.59274862, 4.43376807, 1.41546414, 1.07323887, 1.78478951,
       2.89209829, 2.79752808, 4.19269441, 2.32055895, 2.67954992,
       0.56015457, 2.34382656, 3.41498405, 0.56978749, 1.76396884,
       1.43580362, 0.68893443, 2.6566704 , 1.31775482, 3.84386693,
       4.31567548, 2.95513332, 4.91768304, 2.52715357, 2.81015695,
       4.95147989, 1.54196796, 4.74145673, 0.692769  , 2.50874101,
       0.8150158 , 3.78155634, 3.23784021, 3.67985419, 2.1851618 ,
       2.1626687 , 0.70393676, 2.07475223, 4.68179781, 2.20651942,
       4.24115468, 4.29046477, 2.1795852 , 3.34394906, 0.92917221,
       0.96655361, 0.71895949, 3.11456792, 2.4173194 , 2.9661456 ,
       2.84482936, 2.07591346, 3.54863037, 3.91325846, 0.56582716,
       1.43259035, 3.70956141, 2.23979078, 3.48117776, 2.06133197,
       2.25839819, 1.21405493, 1.66203959, 3.22435291, 2.449234  ,
       3.98436207, 4.3366323 , 2.93740888, 3.91220281, 1.88107031,
       2.36737047, 3.70749954, 2.23795397, 3.14827221, 1.33417751,
       3.19897092, 4.37681168, 4.40887838, 3.75954983, 3.85589021,
       3.0106735 , 3.13100641, 1.10142762, 2.49736635, 2.52849328,
       4.81324026, 2.43989088, 2.9720419 , 2.8996313 , 3.36542773,
       3.86704774, 1.51268844, 2.87925989, 4.21662968, 2.58401621,
       1.75305896, 3.44619084, 4.20695328, 0.78413132, 3.99555718,
       4.1974157 , 2.57685317, 4.92487546, 4.04018753, 3.98148154,
       3.86527358, 1.17773646, 1.47753899, 2.58795559, 1.68801957,
       2.36858438, 4.49808849, 4.20947101, 3.33517945, 4.36154177,
       4.02697575, 2.43043219, 1.40479318, 2.81390468, 3.81302997,
       2.46388819, 3.50047359, 0.92447342, 3.86602131, 4.15721129,
       3.68077035, 4.85268614, 4.21993426, 4.56392178, 4.70106988,
       4.10606596, 3.53416479, 0.52573362, 2.59621589, 3.07023034,
       1.86813623, 1.93147001, 4.82521737, 4.51269889, 4.32130552,
       2.32705311, 0.56164348, 0.86100011, 1.90488366, 0.57084311,
       0.57717402, 4.62471486, 3.67771326, 1.89030196, 1.0969006 ,
       2.80236073, 0.52405772, 4.72286185, 2.36666804, 2.3105073 ,
       2.25767123, 0.81197749, 3.37245008, 3.79851629, 3.54256429,
       1.12295972, 3.10478076, 3.06268018, 4.40784855, 2.20607446,
       2.17168675, 3.28337176, 3.34882694, 2.61178352, 2.49376713,
       2.72366452, 4.37470385, 2.57525106, 4.72969306, 2.76801694,
       4.77140312, 4.24774356, 2.13094095, 4.3863864 , 0.99528478,
       4.66271229, 3.34239582, 0.74475837, 3.39915526, 4.88411444,
       0.81410295, 2.99609469, 3.86507457, 4.14616364, 2.36222359,
       1.41874952, 0.69054025, 3.10876771, 2.53809982, 4.76934978,
       0.77272208, 3.58427905, 0.612348  , 1.2714538 , 2.5411055 ,
       2.54692599, 3.58565244, 4.59595866, 3.37564472, 4.79090794,
       4.46727038, 3.13024908, 4.25206378, 3.39159925, 0.85351024,
       3.83254125, 0.92708799, 3.17337251, 3.66188093, 0.79937424,
       1.53857594, 4.62052505, 3.27341522, 1.60828708, 3.60805897,
       3.18549389, 2.75709065, 4.89284139, 3.575542  , 2.18948499,
       4.10033044, 4.48062482, 1.06349252, 1.4024884 , 1.47302154,
       3.61045314, 3.213678  , 3.28546204, 4.73347985, 3.9916019 ,
       1.07571616, 2.06378187, 2.45927141, 2.28182715, 3.51188874,
       4.51351896, 1.87723159, 2.98344711, 4.0523424 , 2.37298126,
       1.25653158, 2.63727934, 0.74850134, 4.74072554, 0.83669542,
       2.47305522, 2.88446567, 4.93386725, 1.24709821, 1.01494183,
       0.53917766, 1.20007147, 1.43272841, 3.33761424, 1.48868056,
       0.59234367, 4.21978255, 2.14518065, 2.09163509, 1.86115563,
       4.88917975, 1.26551938, 4.54207129, 3.99561499, 0.8441598 ,
       4.94028096, 1.72114684, 0.94362317, 4.23191405, 3.6800399 ,
       3.27748463, 1.20191389, 2.65323252, 4.01250212, 1.86630772,
       1.90260423, 0.51413408, 1.28409531, 4.43932531, 2.48785921,
       4.92905525, 2.28068584, 3.71833905, 1.76863569, 2.13714339,
       1.35826694, 2.06178066, 2.96256884, 4.96297796, 3.48890771,
       1.39660679, 0.70232649, 1.06860417, 3.03149841, 3.94322148,
       4.73188643, 0.57120427, 2.85242064, 2.6189031 , 3.4522476 ,
       3.01810485, 3.59167618, 3.46137163, 1.02655276, 4.09873061,
       1.05454659, 3.64338781, 2.37265415, 2.81232831, 4.56484106,
       4.50447677, 4.18035338, 2.79566771, 3.81307915, 2.80803675,
       4.41322737, 2.31249125, 4.86605905, 4.69545241, 3.83721179,
       1.75737148, 1.09244115, 4.34616553, 1.24386029, 4.34417355,
       2.70844253, 2.32950553, 4.5643585 , 3.21732942, 3.09476303,
       3.01444675, 2.17026282, 4.03539397, 1.637593  , 4.72502732,
       4.52293342, 2.01866147, 3.78258696, 3.07950438, 2.01942186,
       4.94834742, 0.61356806, 1.63690714, 2.84033328, 2.84878852,
       3.15019884, 3.88254277, 3.30565024, 3.20126657, 0.74081508,
       2.1943863 , 1.54425083, 1.6941655 , 2.99451863, 1.39777392,
       1.82277095, 1.56688119, 4.76826324, 4.75099579, 3.24473701,
       4.66035111, 4.0361569 , 3.15476547, 0.52895845, 3.97632329,
       3.66119754, 3.26864144, 3.9219094 , 2.80814974, 3.66837472,
       4.70827439, 2.19112257, 3.68654826, 2.64059518, 3.53479843,
       3.93302001, 0.70453625, 3.409702  , 1.52033533, 3.51514642,
       2.60748584, 3.98098734, 1.05530367, 3.31845058, 1.75311828,
       4.33841898, 4.67772578, 4.98379232, 4.08203331, 3.89180332,
       1.46975341, 2.01203177, 2.59557144, 3.98021472, 4.61734639,
       1.35112595, 4.65065368, 3.63031094, 3.24846829, 1.39928572,
       0.74986265, 3.05809204, 3.43182057, 1.44851652, 3.00405293,
       4.35422031, 4.25779675, 4.67309831, 2.14648614, 1.93122308,
       3.87241703, 2.44000582, 0.89396899, 1.77260509, 2.38362028,
       1.81632391, 1.99492507, 1.82199158, 0.68674625, 3.36692615,
       3.18781589, 3.44022574, 1.36539453, 1.83044544, 3.28827167,
       3.19832406, 2.77848639, 2.07685963, 4.60818952, 2.02896609,
       2.5502862 , 3.55151224, 2.94359644, 2.06098689, 2.46040156,
       4.07516368, 1.7515812 , 1.14014858, 1.90923441, 4.32290397,
       0.90045372, 4.96263233, 2.93451305, 4.93180585, 4.7254839 ,
       2.53766171, 1.39320984, 1.24198149, 1.57995214, 3.69559688,
       1.72827498, 2.03641371, 2.51950462, 4.60954706, 1.35227038,
       0.52261949, 0.77043385, 4.57144854, 3.41382409, 1.72868279,
       1.29736625, 1.82420031, 1.01658617, 4.7368981 , 4.02892778,
       2.5807603 , 4.39233172, 1.62256192, 3.72704256, 4.35259625,
       2.1054592 , 3.90859   , 1.82782557, 1.84485711, 0.9817573 ,
       2.48026121, 3.78370358, 4.73099363, 3.21708646, 4.38410992,
       4.20122592, 1.28004374, 2.68617843, 1.02615591, 3.56968923,
       4.77454851, 1.11690256, 3.80247409, 3.34507168, 3.12622267,
       2.25554106, 2.09809241, 0.70362135, 1.48058919, 0.56829597,
       3.11637698, 0.97633956, 4.42858727, 2.85414359, 3.64860459,
       2.34885691, 3.02260914, 4.7419663 , 0.87230318, 1.64271997,
       4.00994747, 0.94431743, 0.84047497, 2.12693629, 0.91475581,
       3.13285299, 1.51823863, 4.53064083, 4.02575036, 3.64867343,
       3.27624812, 4.38559579, 1.50377928, 4.42898979, 4.05271534,
       3.86672372, 3.02565055, 1.60809872, 2.40596562, 4.07106795,
       0.64300318, 4.01922846, 1.58031833, 1.1493914 , 1.02065593,
       0.62262505, 2.85613918, 1.48216943, 4.95244295, 3.0849654 ,
       1.12048371, 3.59943143, 4.53984605, 3.85330773, 0.84397937,
       4.53147882, 4.07268224, 1.21236755, 0.7330365 , 3.00789759,
       1.20216115, 4.25565929, 2.11250596, 4.608016  , 3.04559677,
       1.32202573, 1.1281949 , 3.09412597, 3.92847625, 4.01677541,
       1.74090832, 1.41911042, 0.57540337, 3.55639618, 0.84455716,
       2.39342541, 3.20756974, 4.71699025, 1.90310962, 1.62397473,
       3.44372069, 3.28657564, 1.99449402, 4.67645826, 4.30188047,
       1.50792146, 1.57614145, 2.80535156, 3.98107446, 0.69818171,
       3.62000819, 3.41706154, 1.54166043, 3.56608856, 4.73082436,
       0.7105363 , 1.93843425, 2.47179522, 4.54667162, 4.83017651,
       2.49851861, 3.87512785, 2.89247461, 2.92002321, 1.75144782,
       1.47630311, 1.79602406, 3.00347603, 0.63119834, 4.58262025,
       1.20327669, 1.49039905, 2.83224279, 3.69551645, 0.93078075,
       1.92962614, 4.85903573, 1.68054335, 1.90872565, 4.26424321,
       0.72596494, 2.59075926, 2.20827544, 1.92464042, 1.78564817,
       0.91118347, 1.91671623, 0.69373581, 4.01433739, 2.29202507,
       2.49756725, 4.52117564, 3.46124743, 0.53626597, 4.7442867 ,
       1.5671501 , 0.98426383, 3.9565768 , 2.75214792, 2.45196755,
       1.62276386, 2.9636217 , 1.73473072, 4.55712352, 1.46842016,
       4.47959818, 3.01732442, 4.2281966 , 3.70780698, 3.635128  ,
       1.95955613, 1.55253619, 1.44898802, 4.35736246, 4.19192069,
       2.48258088, 1.09582076, 2.22013513, 3.28704554, 2.5448142 ,
       4.01085171, 4.9893027 , 1.3600944 , 2.56842869, 2.43942756,
       1.8702164 , 1.39142983, 0.79561452, 4.49203693, 2.38931914,
       2.73602983, 4.62623922, 3.99330715, 1.08725569, 3.04438985,
       2.49013524, 4.08744983, 3.75904646, 3.60682575, 2.03245176,
       4.12233679, 0.73576083, 1.21831206, 2.01030473, 0.84563348,
       1.55747425, 4.23567942, 4.76713192, 1.8707106 , 1.69032112,
       1.75951694, 1.74973589, 0.66168582, 4.67112356, 1.46164164,
       2.39001833, 0.54359097, 4.36079791, 3.79020805, 4.76040216,
       4.01726966, 1.9116793 , 1.61543011, 3.63972338, 2.13850749,
       3.04796757, 0.52815862, 0.77848566, 2.90915574, 3.04732241,
       3.88153825, 1.09384394, 2.80932388, 1.3750144 , 0.91938254,
       2.34723107, 1.23501492, 1.4980189 , 1.92899561, 1.6672478 ,
       0.89416084, 0.9046231 , 1.36962237, 0.72751635, 3.31905659,
       1.79297022, 1.75885685, 1.99399232, 3.48258323, 4.41785247,
       3.9158912 , 3.77388154, 2.67976034, 3.62212501, 2.98743066,
       1.47312738, 1.43864765, 1.83376403, 4.59861202, 2.96336678,
       3.8025742 , 2.05951442, 2.33472097, 1.0650451 , 1.27082731,
       4.2231045 , 3.13177384, 2.0188961 , 4.11283044, 1.60933958,
       4.89214714, 2.05167923, 2.01789929, 1.90360357, 1.04950182,
       1.00011716, 3.41647266, 4.4380312 , 4.0573423 , 1.13498417,
       2.95511955, 0.97516196, 0.7038259 , 3.45373637, 2.9081855 ,
       0.86910658, 0.65722661, 4.95390386, 0.63509599, 2.50037714,
       2.77078561, 1.02776067, 1.260778  , 2.08312253, 3.92754144,
       2.78187091, 3.37055844, 4.9332855 , 3.95602446, 2.45462674,
       2.50898865, 3.28447435, 3.49414344, 2.75319917, 3.4018755 ,
       0.60589622, 2.43330289, 1.75522134, 1.081285  , 0.94795931,
       3.21436475, 2.85620246, 1.64112853, 2.61927526, 2.71504542,
       1.37754041, 3.43441878, 4.0141371 , 4.06158593, 3.21111424,
       2.80237362, 0.77453214, 1.79524084, 0.91972151, 4.83720422,
       1.10786066, 1.18298934, 4.50309478, 4.74767728, 3.94623068,
       0.52432216, 0.50605822, 2.20145346, 1.14527917, 0.58273764,
       2.5883001 , 4.74377854, 1.95718809, 3.47513305, 3.43505909,
       1.62986047, 3.42691362, 1.45550288, 1.04903336, 3.65622479,
       1.01048368, 4.98609148, 1.32553581, 3.17363838, 2.35118557,
       1.0687389 , 0.62529758, 3.30229527, 4.13040904, 4.28907048,
       2.67221063, 3.9985496 , 3.5278121 , 3.75914537, 2.71669552,
       3.35035283, 4.12486661, 2.29047879, 4.12690505, 3.16407579,
       1.24655461, 0.61107871, 2.1323912 , 2.96013348, 4.27919158,
       1.07368556, 4.10092856, 4.38354071, 1.17809369, 4.33217444,
       4.96154106, 3.77077474, 4.03146357, 4.9748687 , 3.22466563,
       1.88548872, 4.26888875, 3.265186  , 3.11537941, 1.64136   ,
       3.90350421, 0.86750274, 4.65929182, 1.96620557, 1.07498594,
       2.4906494 , 0.69111459, 3.58081787, 4.5621748 , 4.26768353,
       1.07316263, 1.06822012, 4.16045517, 4.65914424, 2.57301423,
       2.74537003, 1.93217919, 4.52419303, 3.40206307, 1.7971321 ,
       1.84452292, 4.51040033, 0.56135311, 1.95226958, 2.99460507,
       1.16697858, 0.91444439, 4.16874349, 4.52481975, 4.20622889,
       4.5445455 , 2.98900387, 4.15516154, 2.22819187, 3.49820538,
       4.94975989, 1.51577476, 2.25454886, 2.6602132 , 1.12106969,
       0.86467375, 4.2337529 , 4.89557468, 2.32126279, 0.89442426,
       0.79615292, 4.51093193, 2.58716412, 1.94012292, 2.64407572,
       1.93236843, 2.70066099, 4.36800379, 3.16535617, 3.62594198,
       2.14101804, 3.82327645, 3.49977688, 1.03802899, 3.07689284,
       1.65534573, 4.11843051, 2.41671969, 4.97607874, 0.91625197,
       4.01156538, 3.5316578 , 3.95374474, 1.88388408, 2.7142452 ,
       4.08428834, 1.54643599, 1.51714939, 2.97972929, 2.85603611,
       1.77018112, 1.84134043, 1.75030323, 3.97180428, 3.4335539 ,
       4.24587733, 4.88962863, 2.63373933, 0.80012247, 0.7164154 ,
       1.83049268, 4.69645065, 2.85445875, 1.72303932, 2.29625058,
       3.19367798, 3.43827346, 1.19263779, 4.89664254, 2.95147502,
       1.11059743, 4.52135864, 0.83587294, 4.58480945, 4.98454545,
       3.6519431 , 3.96701249, 2.01786276, 4.73709584, 2.88371285,
       3.79574801, 4.65848472, 4.88830989, 4.2494196 , 1.86357878,
       4.84946382, 3.32653789, 4.68789114, 3.54247262, 1.88257533,
       2.16511036, 2.977123  , 4.05506679, 1.93092148, 3.10879025])

In [29]:
df['House_Price'].unique()

array([ 262382.85227406,  985260.85449016,  777977.39011858,
        229698.91866361, 1041740.8589249 ,  879796.98352238,
        814427.86140899,  703413.11094468,  173875.03721558,
        504176.50605937,  335332.59275294,  635097.3959198 ,
        701133.80414712,  440726.28481629,  838719.4305035 ,
       1019192.6613592 ,  735850.81234216,  234261.64997474,
        396246.35888875,  672852.051981  ,  586086.56853891,
        740174.01465508,  370167.09090272,  530824.19677521,
        227515.30028798,  652166.14236589,  745670.63714772,
        513161.95119306,  432357.90610274,  434165.89663405,
        809686.20114353,  883819.09112186,  912468.04790467,
        281313.06144485,  705923.31489162,  656980.46042822,
        318266.27713209,  582468.79773652,  541967.63355925,
        188531.42345711,  565562.75043214,  697574.55566703,
        666733.47346169,  376388.02162864,  485380.95019563,
        735678.46220173,  296291.00100751, 1046315.89601366,
        187508.58531168,  793995.28487578,  527393.51288759,
        467768.12294397,  981190.78291122,  750481.71693516,
        377511.26849809,  866877.3524151 ,  731331.66105671,
        899382.86515848,  485622.40191999,  147601.55157708,
        986006.86173676,  509725.55065509,  346932.62090089,
        863289.39690309,  919295.85406152,  406069.27091275,
        397346.11087768,  191117.10122305,  384461.35482616,
        340980.72481778,  951093.54699385,  217010.48526715,
        248224.0196561 ,  538349.09621518,  985223.99665419,
        242865.93150163,  654466.94540868,  551967.88826688,
        663904.9927178 ,  397482.74798704,  209632.8414775 ,
       1107045.06293508,  787420.40407499,  605371.70471706,
        721018.06390314,  199066.37891067,  730047.49738813,
        627923.61719947,  898283.88673564,  277832.10571177,
        731490.11753309,  688357.64848033,  525582.31022146,
        684824.53486344,  903251.94056094,  323118.73931523,
        307101.68583856, 1020324.75659665,  304730.506229  ,
       1026397.29661223,  199414.94263281,  472657.61431723,
        340069.22977593,  696709.41528905,  266533.05392412,
        971514.76204285,  501305.54899407,  480961.44203832,
        758977.88186757,  364658.52862084,  515813.75783539,
        834587.51177366,  747384.06080821,  667696.04497352,
        645145.53984686,  481368.12552157,  740148.19377686,
        639073.18424154,  886568.31322771,  450941.13543726,
        513720.44181706,  521205.60097671,  455122.09995895,
        551463.88885341,  816173.75242649,  637736.01039999,
        420203.46155751, 1026790.06632797,  744681.39706346,
        400585.46235503,  368327.45671832,  977158.592318  ,
        883626.62038572,  244030.40713359,  558598.67876143,
        860329.49231099,  947490.77747782,  492018.32279508,
        832386.33119584,  893926.62947207,  534464.9120088 ,
        355281.41848529,  834105.79434011,  885550.38262565,
        551859.08569476,  922420.5883706 ,  804433.80932186,
        734985.063047  ,  346152.84759213,  649973.36186814,
       1006939.66441741,  370260.60316679,  928059.71295337,
        492112.03971497,  752466.67466662,  573797.93930685,
        854876.29837392,  183663.64645732,  788150.93181063,
        981510.89525884, 1070454.27524761,  241968.84326654,
       1064004.87257921,  640767.22415134,  762159.39147334,
        216591.97111921,  497168.08834548,  857205.24526539,
        285546.50168492,  819125.64705443,  316130.25555761,
       1067425.21662132,  837398.56514356,  658260.70601105,
        475767.3504504 ,  250101.54733055,  688516.50466909,
        510876.99909322,  543734.42189014,  146406.89625235,
        828512.10195891,  719969.43529451,  507847.58733911,
        507554.94405352,  294558.07202157,  712212.21541028,
        491715.94766366,  625227.04547012,  752101.90242076,
        501913.64710804,  907358.63299571,  878704.09563971,
        237070.7057046 ,  267132.41358482,  353129.56847341,
        845141.61666389,  656223.16273053,  884677.68907983,
        775773.2237663 ,  918893.74392356,  607698.7371082 ,
        838774.48403911,  470978.4795329 ,  616308.9624199 ,
        417416.26225428, 1060976.48857231,  809046.28417627,
        485376.42332358,  965816.66811073,  517515.4060051 ,
        438250.17615462, 1008240.78543549,  888140.07598706,
        252963.35620761,  801206.20367019,  624112.16002046,
        155471.16626013,  617900.49484072,  798362.77504753,
       1096158.28990881,  927092.40595991,  728289.88731189,
        785248.36198794,  862580.49838586,  297387.92248394,
        938151.83724507,  203447.48336846, 1038319.16508997,
        443408.30597782,  971977.02464146,  539478.40315068,
        424712.55125248, 1102533.64905909,  740286.55974695,
        655719.14594056,  402213.42189319,  779202.68097239,
        338170.31528112,  497340.99811599,  815811.68273706,
        250362.35906875,  717150.44212962,  811129.49717558,
        165242.29785174,  370992.45655846,  779362.35611133,
        308618.4072722 ,  861356.97755904,  171023.95659838,
        381738.0175438 ,  628610.96505816,  698124.61147108,
        362679.08775021,  822030.76671267,  611205.68892078,
        359657.99559231,  605143.95911547,  881016.00477428,
        258111.67137244, 1038652.42477558,  219426.9244876 ,
        813296.80902598,  211038.8531626 ,  395042.35505971,
        203867.04292283,  619660.83468009,  304174.66410136,
        731899.43561632,  467628.52706225,  827143.77640164,
        797034.42550405,  126097.92716349,  527544.91053417,
        570289.01607609,  234389.76681768,  534533.0200369 ,
        660507.81983035, 1008539.15623435,  955158.90638745,
        756373.84206342,  441315.08847494,  749610.46775535,
        158636.70310577,  699683.24841124,  390430.22237748,
        935973.55629969,  350816.18439956,  779019.73053783,
        987630.2411262 ,  733612.81636482,  255907.13436004,
        517655.15811741,  684425.2003264 ,  323701.24419015,
        724814.22642161, 1015556.14859208,  993273.07966063,
        581948.15995099,  895675.55482118, 1092026.89678641,
        662119.94105806,  341253.22077951,  412045.78265885,
        748220.49368293,  507185.45440816,  354054.70019159,
        915005.29488218,  872676.4341524 ,  934942.05713292,
        269061.78204401,  867445.41846209,  342303.68926755,
        486872.05670913,  935626.95292811,  644601.10517415,
        645375.2217757 ,  786580.30151865,  740281.21534485,
        149743.49995356,  348893.55395287,  346010.94983818,
        915441.17975421,  988325.48791589, 1075864.28103295,
        329218.52491649,  530004.34284206,  408013.57906223,
        224507.20014869,  300656.0790682 ,  848824.77429762,
        396681.28609618,  262398.44604608,  180393.62811346,
        671803.94390133,  474045.84271242,  505877.59815498,
        389645.32961275,  483350.32816847,  358458.380751  ,
        264395.09178796,  749571.2916348 ,  263760.94414832,
        894611.07865642,  853001.11255107,  972537.49646742,
        453359.87163546,  270230.63769828,  673649.89608894,
        827205.30395923, 1007770.57929706,  443005.62363881,
        871566.56273967,  726227.56904176,  824351.67109603,
        973850.32826323,  344363.27368199,  793421.14178842,
        621862.76541835,  758946.77240484,  759151.23794655,
        630531.74012854,  646766.28975196,  533039.43279521,
        496427.10356469, 1099211.64051161,  605600.95074072,
        738935.81944604,  839522.31860354,  874856.27108204,
        609401.08450459,  457643.09804238,  676108.85120969,
        300935.18607342,  381998.6086593 ,  720883.65717106,
        722543.079646  ,  294548.40256049,  336073.52159923,
        863034.67574983,  319748.76677476,  504023.26087166,
        538851.89339454,  934919.38277778,  648902.5219843 ,
        414808.6543177 ,  940080.4444015 ,  676233.07682793,
        866618.3890238 ,  983106.2224147 ,  367024.37943297,
       1075814.43188084,  660979.04748869,  978190.83507299,
        801313.06107583,  992213.45301216,  676719.12205902,
        296184.19659572,  587557.32191284,  724842.18469292,
        762080.82354712,  955223.3951428 ,  354189.0054772 ,
        454484.4215051 ,  769087.18795599,  251359.79864275,
        172534.44400203,  268244.17611868,  985699.18607345,
        824529.57211389,  289985.41455097,  450594.5679766 ,
        794010.01673364,  233504.5137837 ,  269736.43624391,
        841676.01408433,  707483.44001959,  310471.38888553,
        846516.67094944,  647388.29959567,  760678.60166739,
        681361.24934287,  325380.00225713,  987442.68405172,
        508941.12592808,  572941.42823889,  481489.24616078,
        997885.76969997,  944921.98157449,  842172.20923769,
        901471.74272497,  632482.6223598 ,  748136.45638944,
        914555.74500336,  214492.39812518,  287478.26750461,
        478566.06559084, 1068538.10560387,  334276.21781209,
        235478.10213396, 1028282.31182189, 1060712.82831158,
        690243.75068639,  501720.67572174,  314916.52921544,
        752791.63259481,  848697.28998496,  213397.793037  ,
        788471.74655008, 1023975.13315555,  738091.55122775,
        926531.81000858,  781388.93568505,  302975.30376281,
        696224.0924052 ,  370689.54625108,  559262.32235939,
        775422.11689936,  783176.63656272,  392725.19666399,
        297268.39963389, 1027285.77032858,  367172.5872738 ,
        697780.77801121,  802714.09617277,  783978.64749046,
        475471.17666868,  427302.04370053,  724420.50967524,
        690319.88681472,  383644.17774446,  379109.09411307,
        758293.37888354,  619360.96936784,  923122.11417869,
        477884.31693027,  558796.25395692,  366797.34475767,
        226125.41267568,  507967.83606733,  246540.965936  ,
        961367.13933291,  427947.10309738,  396277.33998439,
        585574.10961469,  763296.57255477,  827741.17381574,
        523323.06706007,  731262.20249373,  574450.48418231,
        923773.12935606,  269665.8613984 ,  838955.45389865,
        915104.23501358,  875981.02689546, 1017321.39527506,
        435500.94479438,  896600.4885198 ,  342679.45001246,
        267185.26764161,  338350.59543444,  414166.58430919,
        523387.09594019,  720713.42881626,  551668.64654063,
        972746.69526023,  269874.71590385,  431423.2948124 ,
        501692.85158921,  804904.72054122,  362719.62685852,
        369407.96419172,  176494.35410241,  557218.64563892,
        909713.4350007 ,  526951.77576122, 1033450.4577545 ,
        739205.51593273,  870504.82859101, 1045202.34964363,
        722603.68968946,  409947.22163612,  901000.48823382,
        364834.6821528 ,  795928.18182671,  778486.84273413,
        858011.51354295,  418888.66169546,  887527.90717999,
        827140.44471528,  673586.74767069,  258717.68020974,
        471816.88531841,  764387.16122554,  687869.25130122,
        252024.01768126,  788284.69020152,  219652.59801356,
       1043830.29134392,  368670.13512041, 1015603.70161747,
        909745.29979173,  695195.35853547,  322312.86250795,
        746167.72810828,  985351.02391295,  896792.55384121,
        716524.69198856,  695362.74153219,  379005.71186712,
        763645.6101594 ,  424881.1929427 ,  809782.16622619,
       1032002.23811404,  239234.57432208,  560304.66122106,
        523988.43130169,  179398.43319316,  736289.12455508,
        284798.21346042,  327253.45798299,  506990.32475704,
       1064774.93432242,  818671.39133494,  648718.32608771,
        236865.43918275,  951484.5473651 ,  967287.61385089,
        936969.45483604,  523680.20408638,  537770.49562419,
        261227.31872034,  217669.8849055 ,  198204.12830507,
        517128.75786633,  701609.10028374,  465144.07194172,
        466251.49161971,  894174.43954466,  705754.43197836,
       1007068.65014527,  547523.91108073,  965317.50610198,
        299226.76708908,  548288.24337749,  570399.74276779,
        875382.74274467,  473734.21540789,  146020.40342022,
        288382.46046148,  537619.59080562,  264215.33977453,
       1010589.32913523, 1047149.24820857,  562238.4809757 ,
        370970.38605216,  238459.1158908 ,  215993.8951157 ,
        769763.67303489,  594755.32482807,  779336.117832  ,
        820831.69640177,  818613.71080341,  432824.65856336,
        996696.83585039,  604936.83045278,  596659.36854928,
        417900.59093719,  376032.36153658,  626454.2784147 ,
        629609.09846804,  432687.98379076,  979926.72461495,
       1041122.11313313,  433664.22752834,  806645.0448681 ,
        576020.04430755,  600207.33401008,  190828.13988469,
        878049.25115581,  704212.52397651,  909836.08484369,
        771922.84982131, 1010183.50010981,  650748.69774898,
       1018026.99365829,  897666.0008463 ,  998439.23711398,
        938864.81926258,  978835.10528303,  533178.24024654,
        278644.66933666,  846346.3280926 ,  310271.26366854,
        995441.71022077,  830557.16870183,  470083.29036693,
        217462.44505709,  787281.73593787,  508927.80418706,
        799178.3100544 ,  319601.3915396 , 1004456.21948185,
        206781.75744307,  583183.43091031,  913774.38903317,
        734501.95426652,  987241.42973027,  287822.37687763,
        607535.63404634,  804727.95772702,  665369.95893183,
        540221.2539418 ,  551444.6316159 ,  621460.49056808,
        596339.57095844,  617979.852975  ,  967780.66672222,
        734156.81608627, 1021134.62118941,  834328.57937365,
       1040389.04813578,  602549.2781823 ,  468699.44129559,
        738226.71197173,  237185.91326914,  315357.48101833,
        111626.85342362,  282660.21929554,  972040.05998779,
        625113.60845913,  745395.85536921,  250123.46911283,
        510968.1406545 ,  353161.46132211,  740330.46720387,
        496840.52919263,  888020.55752227,  522309.40587219,
        724033.56045713,  545482.74200931,  305026.77075462,
        355453.18292922,  513292.75970622,  442278.76661775,
        185569.89426877,  826494.04712329,  839074.02042752,
        474659.86005528,  158454.83915736,  190802.0703078 ,
        619516.33247599,  416605.60725277,  551324.4886577 ,
       1000021.76068092,  462185.7241887 ,  985499.19631598,
        629290.14344693,  627322.94124768,  638451.40278891,
        439898.80326484,  821146.23390556,  594005.00652338,
        613658.10994733,  335417.63697434,  919941.40983682,
        823529.54887429,  415639.64540793,  407600.39140296,
        694271.1623038 ,  591174.13685281,  525760.88061018,
        472291.95252443,  647832.20759066,  889364.81706838,
        935451.93357194,  625246.11797568,  917235.41053194,
        769318.60382615,  357130.1202818 ,  181191.06704404,
        641013.91912257,  336153.42802644,  924012.94184884,
        670894.05812479,  312202.08717502,  159121.4656145 ,
        240302.21997125, 1001847.36024977,  206042.35131646,
        275063.09914706,  147206.86576297,  710065.56175613,
        624411.60246829,  988358.24763738,  351280.41620276,
        696027.28516126,  364016.40122899,  494537.5115455 ,
        307116.67913745,  194628.72736204,  949404.20066573,
        574912.76623171, 1011770.87859456,  438849.23452922,
        527715.53739199,  580272.8715937 , 1021159.69248225,
        567108.48421353,  926488.45411858,  321278.17952004,
        572608.43139653,  140538.08318538,  211508.59012152,
        552158.50084262,  623326.58680332,  622100.18950223,
        845932.40828795,  468251.36326868,  236054.00028315,
        405144.67006802,  663568.51266652,  755402.37269125,
        759882.58514262,  578870.76195949,  760720.1464642 ,
        611557.88085425,  851283.91631688,  870212.79967626,
        340874.62328112,  451409.4809711 ,  898403.53721171,
        198659.21988081,  600564.20068906, 1062899.02926778,
        476966.9362678 ,  245941.056488  ,  844959.84123391,
        663727.54412406,  473629.22154242,  638284.47895536,
        833111.80863289,  749471.42414911,  891638.50869646,
        877752.34222576,  377431.06439118,  373171.58994582,
        405940.62394307,  706686.32094289,  185557.69648043,
        728927.07137782,  976049.13146389,  241079.32349026,
        368640.65842693,  645781.73247679,  641526.98536576,
        691113.91945657,  528869.86254937,  441001.34841908,
        852599.97505604,  894261.71964525,  574383.54786064,
        366271.84555605,  665969.57190329,  525408.91551059,
        394408.57694921,  826606.01461812,  940711.98311538,
        555012.70330971,  950877.00536375,  601083.94756937,
        926094.1390762 ,  774150.04681239,  543160.4942    ,
        202427.9740069 ,  708104.05573803,  402002.48442734,
        533656.39402122,  214146.49100739,  398823.26732638,
        313266.83650287,  217213.64521966,  539133.08432659,
        697909.65035811,  418003.15725852,  818706.77643615,
        325738.14789058,  605369.86154248,  606157.49727133,
        613606.18746956,  503962.18772516,  510534.16038351,
        744040.05633163,  701368.11431688,  816939.58743084,
        907601.7861704 ,  771385.14978076,  636552.75248531,
        694917.30087455,  852368.60696017,  993240.28136256,
        158856.84303466,  678385.98996322,  531945.98327959,
        279607.45517642,  515300.5927029 ,  542247.16226286,
        974421.44620191,  843637.45945699,  772740.07072754,
        685644.23361785,  808905.58496047,  341956.2674323 ,
        222673.06586976,  604718.22369274,  234762.82447901,
        690305.82276231,  652434.70522333,  601890.29190937,
        753186.16766259,  792681.51842008,  360372.97803856,
        422950.90471161,  312914.00307582,  734110.02435988,
        899849.51882009, 1017583.427361  ,  729494.90616846,
        953339.73064512,  113576.51237038,  847131.21328218,
        796875.09278186,  280149.18636125,  833283.06445457,
       1046163.32642369,  889107.6929684 ,  760436.88936237,
        864309.03235814,  910000.38595709,  512734.77889379,
        762769.50555747,  827432.41434658,  780363.06279118,
        524818.96332932,  354744.63059531,  754662.17689066,
        733900.75590668,  729385.55240369,  556236.73480477,
       1039730.21351093,  672640.78629579,  860129.72920905,
        432387.04102579,  246717.96636645,  897176.56682015,
        976572.74817827,  251724.67925136,  238220.48454485,
        514184.18166531,  561747.26240361,  194353.73613998,
        826587.79697111,  280961.68038979,  191907.65250489,
        809712.73793333,  369854.92449322,  400306.95740917,
        985628.96920039,  567376.40069465,  889695.26950391,
       1004325.39318945, 1021278.34008214,  665309.76839345,
        576620.37185354,  738643.20076945,  343678.9352486 ,
        865263.38363582,  342365.20713846, 1037911.65198525,
        876992.62965777,  238047.59279999,  518166.38138878,
       1108236.83629137,  483905.99838996,  509733.85039648,
        747938.71154396,  347769.0613211 ,  619407.62791568,
        646118.39791918,  338786.44407017,  291123.8673705 ,
        796470.1732393 ,  603812.58879225,  779867.216597  ,
        656065.84198924,  793323.81279373,  448879.51076175,
        262707.27893308,  872258.39254629,  530476.12327498,
        321199.34690945,  730405.66202422, 1033816.82470135,
        564747.65464365,  804450.09900713,  316282.8067977 ,
        806269.40337822,  988234.61802124,  489595.41246134,
        504682.30124802,  851472.59941119,  991703.39442211,
        120795.55236671,  511645.23778774,  868356.24318629,
        765780.04404791,  317780.59428639, 1058290.68094035,
        708003.07970506,  663456.39390541,  198773.47571276,
        821117.74821166,  888184.30384317,  869924.34213791,
        734201.46157798,  530326.78653346,  436325.07618368,
        758140.62725177,  647006.81255271,  921002.24822285,
        170024.87591657, 1009807.439056  ,  345655.7948549 ,
        320689.2188218 , 1034380.20416167,  304653.63604893,
        571367.82527926,  856066.30053384,  931856.96951527,
        882532.54893304,  875163.04606923,  372292.60339232,

In [30]:
df_encoded = df.copy()

In [31]:
def encodeCols(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_label_encoder = LabelEncoder()
        data_label_encoder.fit(np.ravel(data))
        df_encoded[i] = data_label_encoder.transform(df[i]) 

columns = ['Lot_Size','House_Price']
encodeCols(columns)

In [32]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Square_Footage        1000 non-null   int64
 1   Num_Bedrooms          1000 non-null   int64
 2   Num_Bathrooms         1000 non-null   int64
 3   Year_Built            1000 non-null   int64
 4   Lot_Size              1000 non-null   int64
 5   Garage_Size           1000 non-null   int64
 6   Neighborhood_Quality  1000 non-null   int64
 7   House_Price           1000 non-null   int64
dtypes: int64(8)
memory usage: 62.6 KB

In [33]:
df_encoded.to_csv(r'encoded-data.csv', index = False, header = True)

# TRAIN TEST SPLIT

In [34]:
traindata, testdata = train_test_split(df_encoded, test_size=0.2, shuffle=False)

In [35]:
traindata.head(5)

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,23,0,5,98
1,4272,3,3,2016,953,1,6,918
2,3592,1,2,2016,686,0,9,684
3,966,1,2,1977,481,1,8,63
4,4926,2,1,1993,932,0,8,977

In [36]:
testdata.head(5)

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
800,2690,4,1,2017,24,0,2,443
801,1492,4,1,2014,413,1,2,211
802,3212,4,1,1975,267,1,9,544
803,2692,1,3,1959,131,0,7,383
804,1748,4,1,2002,100,2,7,240

In [37]:
train_x = traindata.iloc[:, 1:]
train_x.head()

,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,2,1,1981,23,0,5,98
1,3,3,2016,953,1,6,918
2,1,2,2016,686,0,9,684
3,1,2,1977,481,1,8,63
4,2,1,1993,932,0,8,977

In [38]:
train_y = traindata.iloc[:, 0]
train_y.head()

0    1360
1    4272
2    3592
3     966
4    4926
Name: Square_Footage, dtype: int64

In [39]:
test_x = testdata.iloc[:, 1:]
test_x.head()

,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
800,4,1,2017,24,0,2,443
801,4,1,2014,413,1,2,211
802,4,1,1975,267,1,9,544
803,1,3,1959,131,0,7,383
804,4,1,2002,100,2,7,240

In [40]:
test_y = testdata.iloc[:, 0]
test_y.head()

800    2690
801    1492
802    3212
803    2692
804    1748
Name: Square_Footage, dtype: int64

# TRAING MODEL USING SVM

In [41]:
print("Training using SVC on Training Data ")
print("Parameters & Values: ", end='')

model_svc = SVC(gamma='auto', random_state=0)
model_svc.fit(train_x, np.ravel(train_y))

print(model_svc)

Training using SVC on Training Data
Parameters & Values: SVC(gamma='auto', random_state=0)

In [42]:
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [43]:
model = pickle.load(open('model_svc.pkl', 'rb'))

In [44]:
model_predictions = model.predict(test_x)

testdata_predict = testdata.copy(deep=True)
pd.options.mode.chained_assignment = None

testdata_predict['Prediction'] = model_predictions

In [47]:
model_accuracy_score = accuracy_score(testdata_predict['House_Price'], testdata_predict['Prediction'])

print("-- Model Accuracy Score: ", end='')
print(round(model_accuracy_score,3))

-- Model Accuracy Score: 0.0

# SVM

In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [49]:
df = pd.DataFrame({ 
    'feature1': [1, 2, 3, 4, 5, 6],
    'feature2': [2, 3, 4, 5, 6, 7],
    'target': [0, 1, 0, 1, 0, 1]
})

In [50]:
X = df.drop(columns=['target'])  # Replace 'target' with the name of your target column
y = df['target']

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [52]:
svm_classifier = SVC(kernel='linear')

In [53]:
svm_classifier.fit(X_train, y_train)

SVC(kernel='linear')

In [54]:
y_pred = svm_classifier.predict(X_test)

In [55]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.5

Classification Report:
               precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       0.00      0.00      0.00         1

    accuracy                           0.50         2
   macro avg       0.25      0.50      0.33         2
weighted avg       0.25      0.50      0.33         2


Confusion Matrix:
 [[1 0]
 [1 0]]

C:\Users\razaj\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\razaj\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\razaj\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))